.section {
  align-items: center;
	display: flex;
	justify-content: flex-start;
	padding: 1rem;
}

.externalLink {
  flex: 10;
}

.iconContainer {
  margin-right: 2rem;
  flex: 1
  
}

.iconContainer > svg { 
  fill: var(--primary-color);
}