
@keyframes arrow {
  12.5% {
    transform: translateX(2.5%)
  }
  25% {
    transform: translateX(5%)
  }
  37.5% {
    transform: translateX(7.5%)
  }
  50% {
    transform: translateX(10%)
  }
  62.5% {
    transform: translateX(7.5%)
  }
  75% {
    transform: translateX(5%)
  }
  87.5% {
    transform: translateX(2.5%)
  }
  100% {
    transform: translateX(0)
  }
}

.arrow {
  animation: 1s arrow infinite;
  padding: 0 1rem;
  font-size: 3rem;
}

.h1 {
  margin: 0;
  font-size: 2rem;
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.reverse {
  flex-direction: row-reverse;
}

.titleContainer {
  display: flex;
  align-items: container;
  margin-right: 2rem;
}


.headshotWrapper {
  display: flex;
  height: 5rem;
  width: 7rem;
}

.headshot {
  border-radius: 5rem;
}

@media screen and (min-width: 500px) {
  .h1 {
    font-size: 3rem;
  }

  .titleContainer {
    margin-right: 4rem;
  }

  .headshotWrapper {
    height: 15rem;
    width: 15rem;
  }

  .headshot {
    border-radius: 15rem;
  }
}