.nav {
	align-items: center;
	display: flex;
	height: 3rem;
	justify-content: space-between;
}

.navBrand {
	display: flex;
	height: 100%;
}

.siteThemeToggle {
	flex: 1;
}

.brandLink {
	display: flex;
	height: 100%;
	padding: 0.5rem;
}

.brandLogo {
	height: 100%;
	width: auto;
}

.navLink {
	text-decoration: none;
	font-size: 0.875rem;
	border-bottom: 0.3rem solid transparent;
	color: var(--text-color);
	padding: 1rem;
	padding-bottom: 0.4rem;
}

.active {
	border-bottom-color: var(--primary-color);
}

.switchContainer {
	align-items: center;
	display: flex;
	height: 100%;
	width: auto;
}

.switchIcon {
	border-radius: 2rem;
	height: 2rem;
	width: 2rem;
	fill: var(--text-color);
}

@media screen and (min-width: 500px) {
	.navLink {
		font-size: 1rem;
		padding: 1.5rem;
		padding-bottom: 0.6rem;
	}

	.switchIcon {
		border-radius: 2.25rem;
		height: 2.25rem;
		width: 2.25rem;
	}
}

@media screen and (min-width: 768px) {
	.nav {
		height: 5rem;
		padding: 0 4rem;
	}

	.navLink {
		font-size: 1.125rem;
	}

	.switchIcon {
		border-radius: 2.5rem;
		height: 2.5rem;
		width: 2.5rem;
	}
}

/* @media screen and (max-width: 500px) {
 .nav { 
		height: 3rem;
		padding: 0 1rem;
 }

	.navLink {
		font-size: 1rem;
		padding: 0.5rem;
		padding-bottom: 1.45rem;
	}

} */