$white: #fff;
$gray-bg: #3c3c3c;
$blue-lightest: #FAFCFF;
$navbar-blue: #08234F;
$blue-active: #729FE3;

$xs-media: 500px;

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  background: $blue-lightest;
  margin: 0;
  padding: 0;
}

.section {
  padding: 1rem;
}

.page {
  display: flex;
  box-shadow: 0px 0px 3px 1px rgba(150, 150, 150, 0.9);
  flex-direction: column;
  min-height: 100vh;
  max-width: 66rem;
  margin: 0 auto;
}

.full-width-image {
  height: 9rem;

  @media screen and (min-width: 48em) {
    height: 20rem;
  }
}

.content {
  background: $white;
  flex: 1;
}

.navbar {
  background: $navbar-blue;
  height: 5rem;

  @media screen and (max-width: $xs-media) {
    height: 3.5rem;
  }

  .container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0 2rem;


    @media screen and (max-width: $xs-media) {
      padding: 0 1rem;
    }
  }

  .navbar-brand {
    height: 100%;
    padding: 1rem;

    @media screen and (max-width: $xs-media) {
      padding: 0.5rem;
    }
  

    a {
      svg {
        height: 100%;
      }
    }
  }
  
  .navbar-menu {
    height: 100%;
    display: flex;
    align-items: center;

    .navbar-start {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;
    }

    .navbar-item {
      align-items: center;
      color: $white;
      display: flex;
      font-size: 1.25rem;
      height: 100%;
      justify-content: center;
      padding: 2rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &.active {
        background: $blue-active;
        color: $navbar-blue;
      }

      @media screen and (max-width: $xs-media) {
        font-size: 0.875rem;
        padding: 1rem;
      }
    }
  }
}

.footer {
  background: $gray-bg;
  padding: 1rem;
  color: $white;
}