.job-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.job-block {
  margin-bottom: 2rem;
}

.bullet-list {
  padding-left: 1rem;
  display: grid;
  grid-row-gap: 0.5rem;
}

.company-name {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.25rem;
}