@media screen and (min-width: 700px) {
  .grid {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-gap: 2rem;
  }

  .img {
    max-height: unset;
  }
}

.img {
  height: auto;
  max-height: 25vh;
  width: 100%;
}